@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto:ital,wght@1,100&display=swap');
* {
    font-family: 'roboto', sans-serif;
    margin: 0;
}
/*header/logo/top/login section*/
.top-bar-header {
    background-color: #38558f;
    padding: 10px 15px 5px 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
#logo-img{
    width: 200px;
    padding-left: 20px;
}
a {
    text-decoration:none;
    color: #fff;
    font-size: 18px;
}
#top-bar-links{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
    padding: 0;
}
#login {
    background-color: #ffd900;
    color: rgb(33, 64, 88); 
    border-radius: 20px;
    padding: 8px 20px;
    font-weight: bold;
    border-style: none;
    border: 1px solid #1073dc;
    cursor:pointer;
    transition: .3s ease-in;
}
#login:hover{
    background-color:#f0eba1;
    
}
/*top title (h1) section */
#top-title{
    text-align: center;
    padding: 10px;
    background-image: url(./html-images/yellow-background.jpeg);
    background-size: cover;
    color: rgb(33, 64, 88); 
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    border: 3px solid rgb(33, 64, 88);
    box-shadow: 0 0 .4rem .5rem rgba(0, 0, 0, 0.2);
}
/*Filter/Sort/Search bar section*/
.filter-sort-search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px 10px 10px;
    background-color: #38558f;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    box-shadow: 0 0 .4rem .5rem rgba(0, 0, 0, 0.2);
}
#filter-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    text-align: center;
    border-radius: 15px;
    color:#fff;
}
#sort-container{
    display: flex;
    flex-direction: column;
}
select{
    border-radius: 10px;
    padding: 5px;
}
label{
    display: block;
    padding: 5px;
}
#search-container{
    display: inline-flex;
    gap: 5px;
    margin-top: 15px;
}
#search-bar{
    border-radius: 10px;
    width: 250px;
    height: 25px;
    margin-top: 10px;
    
}
#search-btn{
    background-color: #d1d1d1;
    color: #03108a;
    border-radius: 10px;
    font-weight: bold;
    border-style: none;
    border: 1px solid #1073dc;
    margin-top: 10px;
    transition: .4s ease-in;
}
#search-btn{
    cursor:pointer;
}
#search-btn:hover{
    background-color: #5cb6f5;
}
/*Cards*/
#card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 80px 50px;
    flex-wrap: wrap;
    gap: 35px;
    background-color: #9ab3ce;
    border-radius: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    box-shadow: 0 0 .4rem .5rem rgba(0, 0, 0, 0.2);
    transition: .3s ease-in;
    width: 200px;
    height: 300px;
    flex-wrap: 5px;
    gap: 5px;
    border-radius: 5px;
    border: 4px solid rgb(55, 105, 143);
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #fff;
}
.card:hover{
    background: rgb(255, 252, 244);
    border: 4px solid  rgb(255, 225, 0);
}
.card-heading{
    color: rgb(192, 0, 0);
    font-weight: 700;
    font-size: 20px;
}
.card-maxcp{
    font-weight: 700;
    font-size: 18px;
    color:#1073dc;
    margin: 0;
    text-align: center;
    width: 100%;
    
}
.card-subheading,
.card-end{
    color:rgb(16, 5, 61);
    font-size: 14px;
    font-weight: 700;
}
.card-subheading-type{
    border-radius: 10px;
    padding: 5px;
    font-size: 13px;
    color: #fff;
    background-color:rgb(55, 105, 143);
}
.card-img{
    width:60%;
}
/* classes for pokemon type colors */
.grass {
    background-color: green;
}
.water {
    background-color: rgb(47, 122, 188);
}
.fire {
    background-color: orange;
}
.ghost{
    background-color: grey;
}
.normal{
    background-color: rgb(182, 182, 182);
    color: black;
}
.electric{
    background-color: rgb(240, 212, 0);
    color: black;
}
.bug{
    background-color: #578258;
}
.psychic{
    background-color: #84537b;
}
.ice {
    background-color: rgb(40, 233, 243);
    color:#03108a;
}
.rock{
    background-color: #91715b;
}
/* small screens devices */
@media screen and (max-width: 480px){
    .top-bar-header {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 10px 0 10px 0;
    }
    #logo-img{
        max-width: 85%;
    }
    a {
        text-decoration:none;
        color: #fff;
        font-size: 13px;
        padding-bottom: 5px;
    }
    #top-bar-links{
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 0;
        padding: 0;
    }
    #login {
        padding: 4px 14px;
        font-weight: bold;
        border-style: none;
        cursor:pointer;
        transition: .3s ease-in;
    }
    #top-title{
        font-size: 28px;
    }
    /* .filter-sort-search-container{
    
    } */
    #filter-container{
        width:310px;
        font-size: 13px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #filter-region,
    #filter-type,
    #sortlist{
        width: 80px;
    }

    #search-bar{
        width: 70%;
    }
    #card-container{
        margin-left: 30px;
    }
    .card {
        width: 50%;
        height: auto;
    }
    .card-heading{
        font-size: 16px;
    }
    .card-subheading,
    .card-end{
        font-size: 11px;
    }
}